{% extends "base.html" %}
{% block body %}
<h1>Credits</h1>
<p>
  23khz is a project from <a href="https://blog.babka.social">Babka</a>, an online space for Jews and allies.
</p>

<p>
  In its quest for online safety for Jews, Babka makes 23khz available to everyone.
</p>

<p>Source code for 23khz is available on <a href="https://gitlab.com/babka_net/23khz">Gitlab</a>
</p>

<p>Inspiration for this project comes from the American Jewish Committee's <a href="https://www.ajc.org/translatehate">Translate Hate</a> project.</p>

<p>Version: {{ version }}</p>

{% endblock %}
